<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contacto</title>
  </head>
  <body>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="max-width:640px">
      <tbody>
        <tr>
          <td width="100%" >
            <img src=" https://s3.amazonaws.com/klugger/cabezal.png" width="100%" height="auto" style="display:block" class="CToWUd a6T" tabindex="0">
            <div class="a6S" dir="ltr" style="opacity: 0.01; left: 787px; top: 451px;">
              <div id=":nz" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V" data-tooltip="Descargar">
                <div class="aSK J-J5-Ji aYr"></div>
              </div>
            </div>
          </td>
        </tr>
        <tr width="100%">
          <td>
            <img src="https://s3.amazonaws.com/klugger/logo.gif" width="100%" height="auto" style="display:block;margin:0 auto;position:relative;" class="CToWUd a6T" tabindex="0">
          </td>
        </tr>
        <tr>
          <td width="100%" style="border-bottom:1px solid #525252;border-top:1px solid #525252;">
            <p style="font-size:18px;margin-bottom:10px;text-align:center">¡Gracias por escribirnos!</p>
          </td>
        </tr>
        <tr style="text-align:center;">
          <td width="100%" style="padding:10px;font-size:16px;box-sizing:border-box;padding:20px 0">
            <article><b>Nuestra Misión</b></article><br />
            <article><span>Proveer de herramientas que faciliten la toma de decisiones en el sector inmobiliario mediante técnicas de análisis sofisticadas con ayuda de tecnologías de información y ciencia de datos.</span></article><br />
            <article><a href="http://klugger.mx/politica_privacidad" style="text-decoration:none;color:black;"> <b>POLÍTICA DE PRIVACIDAD</b></a></article><br />

            <article><b>Descarga nuestra app próximamente</b></article>

            <a href=<%=link %>> Link para verificar cuenta </a>
          </td>
        </tr>
        <tr style="text-align:center;">
          <td width="100%" style="padding:3px 65px;">
            <div style="width:100%;text-align:left;display:inline;">
              <a href="https://www.facebook.com/Klugger-183785829089688/?fb_dtsg_ag=AdzxINfNliXN6h1TQqjZ622yCYB5uh5QOHQGasrRyTJCxA%3AAdy6HYYFhn7Db0VgNdf2XYOsbX1UuT8yM2HWwQunfg-qKw" style="display:inline-block;text-decoration:none;color:black;font-size:1.5em;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/muebilia/&amp;source=gmail&amp;ust=1535646301698000&amp;usg=AFQjCNGw0Gwi6THIlCKggeXz9RzpyA0yYA">
                <p>¡Síguenos!</p>
                <img src=" https://s3.amazonaws.com/klugger/unnamed.png" width="20%" class="CToWUd" style="display:block;margin:0 auto;">
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
